altair>=4.1.*
country_converter>=0.7.*
folium>=0.12.*
fuzzywuzzy>=0.18.*
geocoder>=1.38.*
geojson>=2.5.*
geopandas>=0.8.*
geopy>=2.1.*
googlemaps>=4.4.*
lxml>=4.6.*
missingno>=0.4.*
nbdime>=3.1.*
nbgrader>=0.6.*
openpyxl>=3.0.*
pandas-profiling>=3.0.*
pgeocode>=0.3.*
plotly>=4.14.*
psycopg2-binary>=2.9.*
pygeocodio>=1.0.*
rise>=5.7.*
vega-datasets>=0.9.*
